@import "tailwindcss";

h1 {
  @apply text-4xl font-bold;
}
h2 {
  @apply text-2xl font-bold;
}
h3 {
  @apply text-xl;
}

/* apply as class instead of to all buttons for more freedom with button style */
.button {
  @apply px-2 py-1 border border-gray-600 outline-gray-800 hover:border-gray-400
         hover:outline hover:shadow rounded-lg cursor-pointer bg-gray-100 active:bg-gray-200
         disabled:border-gray-500 disabled:hover:outline-none disabled:active:bg-gray-100;
}

input {
  @apply px-2 py-1 border border-gray-400 rounded-lg
         bg-gray-100 focus:outline-1 focus:outline-gray-600;
}
.checkbox {
  @apply appearance-auto hover:shadow size-4 focus:outline-none text-white;
}

.expandable {
  @apply px-2 py-1 border border-gray-400 min-w-20 flex items-center
         justify-between gap-1 shadow active:bg-gray-200 cursor-pointer;
}
